<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="rollingFileAppender"
			fileName="/apps/abc.log"
			filePattern="/apps/abc-%d{MM-dd-yyyy}-%i.log">
			<PatternLayout>
				<Pattern>%d{ISO8601} %-5p [%t] (%F:%L) - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
		</RollingFile>
		<RollingFile name="rollingFilesAppender"
			fileName="/apps/cde.log"
			filePattern="/apps/fgh-%d{MM-dd-yyyy}-%i.log">
			<PatternLayout>
				<Pattern>%d{ISO8601} %-5p [%t] (%F:%L) - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
		</RollingFile>
		<RollingRandomAccessFile name="Rolling"
			fileName="/apps/abcasynch.log"
			filePattern="/apps/abcasynch-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d{ISO8601} %-5p [%t] (%F:%L) - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10"
				compressionLevel="9" />
		</RollingRandomAccessFile>
	</Appenders>


	<Loggers>

		<Root level="error">
			<AppenderRef ref="CONSOLE" />
		</Root>

		<Root level="ERROR">
			<AppenderRef ref="CONSOLE" />
		</Root>


		<AsyncLogger name="com.log4jtest" level="INFO"
			includeLocation="true">
			<AppenderRef ref="Rolling" />
		</AsyncLogger>

		<Logger name="com.log4jtest" additivity="false" level="WARN">
			<AppenderRef ref="rollingFilesAppender" />
		</Logger>

		<Logger name="com.log4jtest" additivity="false" level="INFO">
			<AppenderRef ref="rollingFileAppender" />
		</Logger>

	</Loggers>
</Configuration>
